.results{
  border: 2px solid;
  height: 350px;
  margin: 20px;
  overflow-y: auto;
  background-color: whitesmoke;
  color: black;
}

.searchTopic{
  padding: 15px;
}

.aboutSummary{
 padding-left: 300px;
 padding-right: 300px;
 margin: 50px;
}

/* .navbar{
  text-align: center;
} */

.navlink{
  padding: 50px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

a:hover{
  color: purple
}

.homePage{
  text-align: center;
}

.aboutPage{
  text-align: center;
}


.faqTitle{
  text-align: center;
}

.question{
  font-weight: bold;
  list-style: none;
}

.questionList{
  border: 2px dotted;
  padding: 30px;
  margin: 30px;
  background-color: whitesmoke;
  
}

.furtherQuestions{
  margin-left: 30px;
}

.apiLink{
  text-decoration: none;
  font-weight: bold;
}

body{
  background-color: #F5F5DC;
}

.qaGroup{
  padding-bottom: 30px;
}

.image{
  width: 40%;
}